.idea/
modelos/__pycache__/
projetos/Buck_PV_Charger/DSP/F2837xD_common/usblib/ccs/.gitignore
projetos/Buck_PV_Charger/DSP/Projeto_CSS/.launches/
projetos/Buck_PV_Charger/DSP/Projeto_CSS/.ccsproject
projetos/Buck_PV_Charger/DSP/Projeto_CSS/.cproject
projetos/Buck_PV_Charger/DSP/Projeto_CSS/targetConfigs/TMS320F28379D.ccxml
